<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Janus WebRTC Server: Streaming Demo</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/8.0.0/adapter.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="/janus.js" ></script>
<script type="text/javascript" src="/streaming_simple.js"></script>


</head>
<body>


<script>
var selectedStream = {{video_id}};
server = "http://" + window.location.hostname + ":8088/janus";
//server = "http://elab1.tecnico.ulisboa.pt:8088/janus";
</script>


<div  id="stream"> </div>
  

</body>
</html>
