<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Janus WebRTC Server: Streaming Demo</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/8.0.0/adapter.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/cerulean/bootstrap.min.css" type="text/css"/>

</head>
<body>

    <div class="container">

        {% for s in stream_list %}
      
        <div class="row" id="info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Video ID {{s.id}}</h3>
                </div>
                <pre>{{s}}</pre>
                <div class="panel-heading">
                    <a href="/video/{{s.id}}">Video Link {{s.id}} (with statistics)</a>
                </div>
                <div class="panel-heading">
                    <a href="/video_simple/{{s.id}}">Video Link {{s.id}} (Just video) </a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</body>
</html>
