<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Janus WebRTC Server: Streaming Demo</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/8.0.0/adapter.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script type="text/javascript" src="/janus.js" ></script>
<script type="text/javascript" src="/streaming_info.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/cerulean/bootstrap.min.css" type="text/css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css"/>
</head>
<body>


<script>
var selectedStream = {{video_id}};
//server = "http://" + window.location.hostname + ":8088/janus";
server = "http://146.193.41.143.pt:8088/janus";
</script>

<div class="container">

	<div class="row" id="info">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-info-circle"></i> Metadata</h3>
			</div>
			<div class="panel-body">
				<pre id="metadata" style="word-break: break-word;"></pre>
			</div>
		</div>
	</div>
	
	<div class="row">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Stream
					<span class="label label-info" id="status"></span>
					<span class="label label-primary" id="curres"></span>
					<span class="label label-info" id="curbitrate"></span>
				</h3>
			</div>
		</div>

	</div>

	<hr>

</div>

<div id="stream"></div>
</body>
</html>
